In [44]:
#importing all the required libraries
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import seaborn as sns

In [45]:
#import the data set
data=pd.read_csv('C:\\Users\\KUMAR HIREMATH\\Downloads\\Churn_Modelling.csv')

In [46]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [47]:
#shape of the dataset
data.shape

(10000, 14)

In [48]:
# dependent and independent variables
x=data.iloc[:,3:13]
y=data.iloc[:,13]

In [49]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [50]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [51]:
#convert all the categorical features into numerical feature
x['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [52]:
x['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [53]:
state=pd.get_dummies(x['Geography'],drop_first=True)

In [54]:
gender=pd.get_dummies(x['Gender'],drop_first=True)

In [55]:
#concat remaining dummies
x=pd.concat([x,state,gender],axis=1)

In [56]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [57]:
# drop columns which is no longer required
x=x.drop(['Geography','Gender'],axis=1)

In [58]:
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [59]:
#splitting the data set into training and test data set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [60]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [61]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [62]:
#initializing ANN
classifier=Sequential()

In [63]:
#adding the input layer and first dense layer
classifier.add(Dense(activation='relu',input_dim=11,units=6,kernel_initializer='uniform'))

In [64]:
#adding second hidden layer
classifier.add(Dense(activation='relu',units=6,kernel_initializer='uniform'))

In [65]:
#adding output layer
classifier.add(Dense(activation='sigmoid',units=1,kernel_initializer='uniform'))

In [66]:
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_4 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [67]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [68]:
classifier.fit(x_train,y_train,batch_size=10,epochs=100)

Epoch 1/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5644 - accuracy: 0.7943
Epoch 2/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4201 - accuracy: 0.7997
Epoch 3/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4214 - accuracy: 0.7958
Epoch 4/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4067 - accuracy: 0.8260
Epoch 5/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4198 - accuracy: 0.8246
Epoch 6/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4140 - accuracy: 0.8283
Epoch 7/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4117 - accuracy: 0.8329
Epoch 8/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4154 - accuracy: 0.8268
Epoch 9/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4045 - accuracy: 0.8343
Epoch 10/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4178 - accuracy: 0.8278
Epoch 11/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3964 - accuracy: 0.8392
Epoch 12/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3960 - accuracy: 0.8404
Epoch 13/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8334
Epoch 14/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4257 - accuracy: 0.8212
Epoch 15/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4097 - accuracy: 0.8328
Epoch 16/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4107 - accuracy: 0.8315
Epoch 17/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4058 - accuracy: 0.8353
Epoch 18/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4039 - accuracy: 0.8354
Epoch 19/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4002 - accuracy: 0.8411
Epoch 20/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4064 - accuracy: 0.8306
Epoch 21/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8392
Epoch 22/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4091 - accuracy: 0.8315
Epoch 23/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3967 - accuracy: 0.8320
Epoch 24/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4075 - accuracy: 0.8316
Epoch 25/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3919 - accuracy: 0.8410
Epoch 26/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4111 - accuracy: 0.8287
Epoch 27/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3976 - accuracy: 0.8358
Epoch 28/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4015 - accuracy: 0.8365
Epoch 29/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4112 - accuracy: 0.8251
Epoch 30/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3882 - accuracy: 0.8420
Epoch 31/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3937 - accuracy: 0.8391
Epoch 32/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4007 - accuracy: 0.8309
Epoch 33/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3966 - accuracy: 0.8335
Epoch 34/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4042 - accuracy: 0.8321
Epoch 35/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3841 - accuracy: 0.8442
Epoch 36/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4088 - accuracy: 0.8314
Epoch 37/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3938 - accuracy: 0.8368
Epoch 38/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4029 - accuracy: 0.8319
Epoch 39/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3908 - accuracy: 0.8355
Epoch 40/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4006 - accuracy: 0.8349
Epoch 41/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3983 - accuracy: 0.8354
Epoch 42/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4030 - accuracy: 0.8316
Epoch 43/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3884 - accuracy: 0.8390
Epoch 44/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3915 - accuracy: 0.8392
Epoch 45/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3939 - accuracy: 0.8400
Epoch 46/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3994 - accuracy: 0.8306
Epoch 47/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3913 - accuracy: 0.8374
Epoch 48/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3961 - accuracy: 0.8360
Epoch 49/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4000 - accuracy: 0.8375
Epoch 50/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3961 - accuracy: 0.8385
Epoch 51/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8334
Epoch 52/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3805 - accuracy: 0.8447
Epoch 53/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3934 - accuracy: 0.8352
Epoch 54/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3873 - accuracy: 0.8409
Epoch 55/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3909 - accuracy: 0.8382
Epoch 56/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3924 - accuracy: 0.8382
Epoch 57/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3904 - accuracy: 0.8367
Epoch 58/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3889 - accuracy: 0.8372
Epoch 59/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3986 - accuracy: 0.8390
Epoch 60/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3996 - accuracy: 0.8340
Epoch 61/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3953 - accuracy: 0.8396
Epoch 62/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4019 - accuracy: 0.8347
Epoch 63/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3969 - accuracy: 0.8317
Epoch 64/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3991 - accuracy: 0.8352
Epoch 65/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3935 - accuracy: 0.8350
Epoch 66/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3920 - accuracy: 0.8376
Epoch 67/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3987 - accuracy: 0.8333
Epoch 68/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4001 - accuracy: 0.8320
Epoch 69/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3852 - accuracy: 0.8381
Epoch 70/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3996 - accuracy: 0.8337
Epoch 71/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4034 - accuracy: 0.8345
Epoch 72/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3973 - accuracy: 0.8301
Epoch 73/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3929 - accuracy: 0.8347
Epoch 74/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3919 - accuracy: 0.8408
Epoch 75/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8340
Epoch 76/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3800 - accuracy: 0.8422
Epoch 77/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3931 - accuracy: 0.8357
Epoch 78/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3937 - accuracy: 0.8370
Epoch 79/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3943 - accuracy: 0.8340
Epoch 80/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4005 - accuracy: 0.8323
Epoch 81/100

800/800 [==============================] - 1s 2ms/step - loss: 0.3918 - accuracy: 0.8332
Epoch 82/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3993 - accuracy: 0.8368
Epoch 83/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3938 - accuracy: 0.8363
Epoch 84/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4006 - accuracy: 0.8361
Epoch 85/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3942 - accuracy: 0.8368
Epoch 86/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3895 - accuracy: 0.8402
Epoch 87/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3914 - accuracy: 0.8361
Epoch 88/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3928 - accuracy: 0.8402
Epoch 89/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3928 - accuracy: 0.8398
Epoch 90/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4060 - accuracy: 0.8286
Epoch 91/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3820 - accuracy: 0.8436
Epoch 92/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3837 - accuracy: 0.8387
Epoch 93/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3923 - accuracy: 0.8385
Epoch 94/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3918 - accuracy: 0.8357
Epoch 95/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3785 - accuracy: 0.8456
Epoch 96/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3810 - accuracy: 0.8473
Epoch 97/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3971 - accuracy: 0.8352
Epoch 98/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3851 - accuracy: 0.8462
Epoch 99/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3905 - accuracy: 0.8400
Epoch 100/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3902 - accuracy: 0.8352

In [72]:
#prediciting the test result
y_pred=classifier.predict(x_test)
y_pred=(y_pred>0.5)

In [74]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [75]:
#making the confusion matrix
from sklearn.metrics import accuracy_score,confusion_matrix
cm=confusion_matrix(y_test,y_pred)
acs=accuracy_score(y_test,y_pred)

In [76]:
print(cm)
print(acs)

[[1551   44]
 [ 269  136]]
0.8435